$dark-grey-1: #707070;

$light-green-1: #C0FFB5;

$light-red-1: #FF8080;

$light-purple-1: #8E84EB;

@font-face {
    font-family: RobotoThin;
    src: url(../fonts/Roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: RobotoBlack;
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}
